<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>I am the Dashboard</h1>
    <% allCustomers.map((customer)=>{ %>
        <h1> <%= customer.firstname %></h1>
        <h1> <%= customer.lastname %></h1>
        <h1> <%= customer.email %></h1>
        <button>Delete User</button>
        <button>Edit User</button>
    <% }) %>
</body>
</html>