<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My E-commerce Store</h1>
    <form action="/register" method="POST">
        <input type="text" placeholder="first name" name="firstname">
        <input type="text" placeholder="last name" name="lastname">
        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="password" name="password">
        <button>Sign Up</button>
    </form>
</body>
</html>